# Configuration file

general {

    ##########################################################################################################
    # tsunami
    #--------------------------------------------------------------------------------------------------------#
    # Configuración de Tsunamis
    ##########################################################################################################

    tsunami {
        # Velocidad a la que va
        # Min: 0.0
        # Max: 200.0
        D:speed=0.35

        # Grosor/Fondo de la ola
        # Min: 1
        # Max: 10
        I:waveDepth=2

        # Altura de la ola de agua en bloques
        # Min: 1
        # Max: 50
        I:waveHeight=40

        # Ancho frontal de la ola en bloques
        # Min: 5
        # Max: 200
        I:waveWidth=40
    }

    ##########################################################################################################
    # tornado
    #--------------------------------------------------------------------------------------------------------#
    # Configuración de Tornados
    ##########################################################################################################

    tornado {
        # Velocidad Maxima a la que va
        # Min: 0.0
        # Max: 200.0
        D:maxSpeed=0.4

        # Velocidad a la que va
        # Min: 0.0
        # Max: 200.0
        D:speed=0.2

        # Altura del tornado en bloques
        # Min: 5
        # Max: 150
        I:tornadoHeight=30

        # Ancho/Radio del tornado en bloques
        # Min: 1
        # Max: 150
        I:tornadoWidth=30
    }

    ##########################################################################################################
    # meteor
    #--------------------------------------------------------------------------------------------------------#
    # Configuración de Meteoros
    ##########################################################################################################

    meteor {
        # Potencia de la explosión
        # Min: 0.0
        # Max: 500.0
        D:explosionPower=10.0

        # Radio del cráter provocado por el impacto
        # Min: 0
        # Max: 500
        I:explosionRadius=20

        # Distancia de aparición sobre el objetivo
        # Min: 5
        # Max: 500
        I:meteorDistance=80

        # Altura física del meteorito
        # Min: 0.1
        # Max: 500.0
        D:meteorHeight=1.5

        # Anchura física del meteorito
        # Min: 0.1
        # Max: 500.0
        D:meteorWidth=1.5

        # Velocidad de caída
        # Min: 0.1
        # Max: 200.0
        D:speed=1.0
    }

    ##########################################################################################################
    # spawner
    #--------------------------------------------------------------------------------------------------------#
    # Configuración del Spawner Aleatorio
    ##########################################################################################################

    spawner {
        # Habilita o deshabilita la generación automática de desastres en el mundo.
        B:enableSpawner=true

        # Probabilidad de generación aleatoria (en ticks). Menor número = Más frecuente.
        # Min: 200
        # Max: 100000
        I:spawnChance=12000
    }

    ##########################################################################################################
    # earthquake
    #--------------------------------------------------------------------------------------------------------#
    # Configuración del Spawner Aleatorio
    ##########################################################################################################

    earthquake {
        # Tiempo que dura el terremoto (en microsegundos)
        # Min: 1
        # Max: 10
        I:earthquakeDuration=60

        # Intensidad del terremoto
        # Min: 1
        # Max: 10
        I:earthquakeIntensity=7

        # Radio Maximo
        # Min: 1
        # Max: 10
        I:earthquakeMaxRadius=80
    }

    ##########################################################################################################
    # flood
    #--------------------------------------------------------------------------------------------------------#
    # Configuración del Spawner Aleatorio
    ##########################################################################################################

    flood {
        # Si el agua se expande
        B:infiniteWaterExpansion=true

        # Radio
        # Min: 1
        # Max: 10
        D:waterMaxRadius=10.0

        # Velocidad
        # Min: 1
        # Max: 10
        D:waterSpeed=0.4
    }

}


